/*
************************************
*       1296px large screens       *
************************************
*/

@media (max-width: 81em) {
  body {
    overflow-x: hidden;
  }

  .main-hero-section {
    max-width: 120rem;
  }

  .main-heading {
    font-size: 4.8rem;
  }

  .grid-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-grid {
    align-self: center;
  }
  .cus-testimonial-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonial-customer {
    padding-bottom: 2rem;
    border-bottom: 0.5px solid hsl(28, 70%, 80%);
  }

  .testimonial-customer:last-child {
    border: none;
  }
}

/*
************************************
* below 1200px (landscape tablets) *
************************************
*/

@media (max-width: 75em) {
  :root {
    font-size: 56.25%;
  }

  .med-heading {
    font-size: 3.6rem;
  }
  .tertiary-heading {
    font-size: 2.4rem;
  }
  .meal-grid {
    column-gap: 3.2rem;
    padding: 1.6rem;
  }

  .price-card-container {
    gap: 3.6rem;
  }
  .price-card {
    padding: 3.6rem;
  }
  .price-best-value::after {
    top: 8%;
  }
}

/*
************************************
* below 980px (tablet)            *
************************************
*/

@media (max-width: 61.25em) {
  :root {
    /*  (8 / 16)*100 = 50% */
    font-size: 50%;
  }

  .main-hero-section {
    grid-template-columns: 1fr;
    gap: 8rem;
  }
  .hero-text-main {
    max-width: 700px;
    text-align: center;

    margin: 0px auto;
  }

  .hero-btn {
    margin-bottom: 3rem;
  }

  .hero-btn,
  .cus-images {
    justify-content: center;
  }
  .hero-image {
    width: 60%;
    justify-self: center;
  }
  .featured-in-logos img {
    height: 2.4rem;
  }
  .number {
    font-size: 7.4rem;
  }
  .meal-padding {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .testimonial-container {
    grid-template-columns: 1fr;
  }
  .cus-testimonial-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;
    row-gap: 4.8rem;
  }
  .grid-images {
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  .testimonial-customer {
    border-bottom: none;
    padding: 0px 4.8rem 0px 0rem;
  }

  .price-best-value::after {
    top: 7%;
    right: -22%;
  }

  .form-container {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .form-container figure {
    background-position-x: center;
  }
  .form-text {
    padding: 3.8rem 5.4rem 5.4rem 5.4rem;
  }
  .nav-btn {
    display: block;
  }
  .flex-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    /* it blurs the background page */
    /* to use backdrop in safari website use webkit backdrop filter */
    -webkit-backdrop-filter: brightness(0.9) blur(10px);
    backdrop-filter: brightness(0.8) blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 200ms linear;
    transform: translate(100%);
    /* transition will not work o display none property */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .open-nav .flex-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translate(0%);
    /* gap: 3.8rem; */
  }

  .header-nav-link:link,
  .header-nav-link:visited,
  .btn.btn-fill.small-btn {
    font-size: 3rem;
    font-weight: 400;
  }
  .nav-btn {
    z-index: 2;
  }

  .menu-icon {
    display: block;
  }
  .close-icon {
    display: none;
  }

  .open-nav .menu-icon {
    display: none;
  }
  .open-nav .close-icon {
    display: block;
  }
  /*  */
}

/*
************************************
* below 840px (tablet)            *
************************************
*/

@media (max-width: 58.75em) {
  .price-card {
    max-width: 280px;
    width: 100%;
  }

  .pros-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2.4rem;
    max-width: 800px;
  }
  .price-pros {
    padding: 0 1rem;
    /* justify-self: center; */
  }

  .footer-container {
    grid-template-columns: repeat(6, 1fr);
  }
  .span3 {
    grid-column: span 3;
  }

  .span2 {
    grid-column: span 2;
  }
  .copywrite {
    margin: 0;
  }
}

/*
************************************
*           below 760px            *
************************************
*/

@media (max-width: 47.5em) {
  .meal-grid {
    grid-template-columns: 1fr 1fr;

    gap: 3rem;
  }
  .meal-card {
    max-width: 280px;
  }
  .meal-card-one {
    justify-self: right;
  }
  .meals-diet {
    grid-column: span 2;
    justify-self: center;
    /* justify-self: right; */
  }
}

/*
************************************
*  below 640px (mobile view)       *
************************************
*/

@media (max-width: 40em) {
  .featured-in-logos img {
    width: 100%;
    height: 100%;
  }

  .grid--two--cols {
    grid-template-columns: 1fr;
  }
  .figure1 {
    grid-row: 1/2;
  }
  .figure3 {
    grid-row: 5/6;
  }
  .meal-grid {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .grid-images {
    grid-template-columns: repeat(4, 1fr);
  }

  .meals-diet {
    grid-column: span 1;
  }
  .meal-card {
    justify-self: center;
  }

  .testimonial-section {
    padding: 6.8rem 3.2rem;
  }

  .cus-testimonial-grid {
    grid-template-columns: 1fr;
  }

  .price-card-container {
    grid-template-columns: 1fr;
  }
  .price-card {
    justify-self: center;
  }

  .form-container {
    grid-template-columns: 1fr;
  }

  .form-image {
    padding: 30%;
    grid-row: 1/2;
  }
  .form-container figure {
    background-position: center;
  }

  .images {
    display: flex;
  }
  .hero-image {
    width: 80%;
  }
  .price-description {
    padding: 0rem 1rem;
    line-height: 1.6;
  }

  .how-it-works-main figure::after {
    z-index: -2;
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
  }
  .how-it-works-main figure::after,
  .how-it-works-main figure::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .how-it-works-main figure::before {
    z-index: -1;
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
  }
  element {
    transform: translateY(2.4rem);
  }
  .how-it-works-main figure {
    /* it translates the element without affecting other like it will not move other elemets with itself */
    transform: translateY(4.2rem);
  }
}

/* 430 px */

@media (max-width: 28.125em) {
  .pros-grid {
    grid-template-columns: 1fr;
  }
  .price-pros {
    padding: 2.4rem 1.2rem;
  }
  .grid-images {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-section {
    padding: 0rem;
  }
  .form-container {
    border-radius: 0;
  }
}

/* 
font sizes (px)
   10 / 12/ 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  

-- font weight
 default 400

-- Line height
 default 1

- spacing system (px)

 2 / 4/ 8 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
  */
